@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #fff;
  background-color: #04091e;
  background-image: url(/bg-texture.png);
}

/* Testimonials */

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  background: #e7e5e5;
  border-radius: 10px;
  padding: 20px;
  color: #01041d;
  box-shadow: 1px 1px 15px -1px #fff;
}

.swiper-slide h2 {
  font-weight: bold;
}
.swiper-slide p {
  font-weight: 100;
  color: #0a3083;
  font-size: 0.9rem;
}
.swiper-slide i {
  font-weight: 100;
  color: #374e81;
}
.swiper-quote {
  display: block;
  width: 10%;
  margin-bottom: 15px;
}
.testimonial-img {
  width: 40%;
  border-radius: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Contact Us Page */
.contact {
  margin-top: 20px;
}

.container.contact__container {
  display: grid;
  grid-template-columns: 40% 48%;
  width: 100%;
  gap: 7rem;
}

.contact__option {
  border: 1px solid #85c4f4;
  width: min-content;
  padding: 10px;
  border-radius: 30px;
  transition: 0.4s all;
}
.contact__option:hover {
  background: #d65804;
  color: #02273b;
  transform: translateY(-6px);
}

.contact_form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  position: relative;
  top: 90px;
}
.contact_form input,
.contact_form textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: #ffffff10;
  border: 1px solid rgba(60, 60, 151, 0.479);
  resize: none;
  color: #fff;
}
.contact_form button {
  border: none;
  background-color: #fb7115;
  color: #fff;
  width: 30%;
  padding: 3%;
  border-radius: 5px;
  margin-bottom: 15%;
  transition: 0.5s;
  font-size: 1rem;
}
.contact_form button:hover {
  color: #0b52be;
  background: #fff;
  box-shadow: 0 0 4px 2px;
}

/* footer */

footer {
  position: relative;
  background: #050c29;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 69px;
}
footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #fff;
}
footer .content {
  max-width: 1280px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.content .top .logo-details {
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons {
  display: flex;
}
.content .top .media-icons a {
  height: 37px;
  width: 37px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1) {
  background: #4267b2;
}
.top .media-icons a:nth-child(1):hover {
  color: #4267b2;
  background: #fff;
}
.top .media-icons a:nth-child(2) {
  background: #1da1f2;
}
.top .media-icons a:nth-child(2):hover {
  color: #1da1f2;
  background: #fff;
}
.top .media-icons a:nth-child(3) {
  background: #e1306c;
}
.top .media-icons a:nth-child(3):hover {
  color: #e1306c;
  background: #fff;
}
.top .media-icons a:nth-child(4) {
  background: #0077b5;
}
.top .media-icons a:nth-child(4):hover {
  color: #0077b5;
  background: #fff;
}
.top .media-icons a:nth-child(5) {
  background: #ff0000;
}
.top .media-icons a:nth-child(5):hover {
  color: #ff0000;
  background: #fff;
}
footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box {
  margin-right: 55px;
}
.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder {
  color: #fff;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"] {
  background: #fff;
  color: #f96106;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover {
  opacity: 1;
}
footer .bottom-details {
  width: 100%;
  background: #01041d;
}
footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a {
  margin-right: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #08385e, #012442);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .contact__options {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .container.contact__container {
    width: 100%;
  }
}
